body {
    background: linear-gradient(90deg, #ffb6c1, #ffffff);
    background-size: 200% 200%;
    font-family: Lucida system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    animation: gradientAnimation 5s infinite alternate;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


#delayed-text {
    font-size: 2rem;
    color: #333;
    opacity: 0;
    transition: opacity 1s ease-in;


    position: fixed;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    margin-bottom: 10px; 
}

.gif-text-container {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    gap: 20px; 
    margin-top: 20px; 
}

.gif-container img, 
.photo img {
    width: 150px; 
    height: auto; 
    border-radius: 10px; 
}

.thank-you-text {

    font-size: 2rem;
    color: #333;
    text-align: center;
    white-space: nowrap;
}


